# PART 6

In [1]:
# 라이브러리 불러오기
import pandas as pd
import seaborn as sns

# titanic 데이터셋에서 age, sex 등 5개 열을 선택하여 데이터프레임 만들기
titanic = sns.load_dataset('titanic')
df = titanic.loc[:, ['age','sex', 'class', 'fare', 'survived']]

print('승객 수:', len(df))
print(df.head())
print('\n')

승객 수: 891
    age     sex  class     fare  survived
0  22.0    male  Third   7.2500         0
1  38.0  female  First  71.2833         1
2  26.0  female  Third   7.9250         1
3  35.0  female  First  53.1000         1
4  35.0    male  Third   8.0500         0

In [2]:
# class 열을 기준으로 분할
grouped = df.groupby(['class']) 
print(grouped)
print('\n')

<pandas.core.groupby.generic.DataFrameGroupBy object at 0x0000022EA58B2D60>

In [4]:
# 그룹 객체를 iteration으로 출력: head() 메소드로 첫 5행만을 출력
# 마치 dictionary를 iteration할 때와 유사하지만, dictionary는 아님에 주의
for key, group in grouped:
    print('* key :', key)
    print('* number :', len(group))    
    print(type(group))
    print(group.head())
    print('\n')

* key : First
* number : 216
<class 'pandas.core.frame.DataFrame'>
     age     sex  class     fare  survived
1   38.0  female  First  71.2833         1
3   35.0  female  First  53.1000         1
6   54.0    male  First  51.8625         0
11  58.0  female  First  26.5500         1
23  28.0    male  First  35.5000         1


* key : Second
* number : 184
<class 'pandas.core.frame.DataFrame'>
     age     sex   class     fare  survived
9   14.0  female  Second  30.0708         1
15  55.0  female  Second  16.0000         1
17   NaN    male  Second  13.0000         1
20  35.0    male  Second  26.0000         0
21  34.0    male  Second  13.0000         1


* key : Third
* number : 491
<class 'pandas.core.frame.DataFrame'>
    age     sex  class     fare  survived
0  22.0    male  Third   7.2500         0
2  26.0  female  Third   7.9250         1
4  35.0    male  Third   8.0500         0
5   NaN    male  Third   8.4583         0
7   2.0    male  Third  21.0750         0

In [9]:
group3_2 = grouped['Third'] # not working!

KeyError: 'Column not found: Third'

https://pandas.pydata.org/docs/reference/groupby.html

In [40]:
# 연산 메소드 적용
average = grouped.mean()
print(average)
print(average.index)
print('\n')

# 개별 그룹 선택하기
group3 = grouped.get_group('Third')
print(group3.head())
print('\n')

              age       fare  survived
class
First   38.233441  84.154687  0.629630
Second  29.877630  20.662183  0.472826
Third   25.140620  13.675550  0.242363
CategoricalIndex(['First', 'Second', 'Third'], categories=['First', 'Second', 'Third'], ordered=False, name='class', dtype='category')


    age     sex  class     fare  survived
0  22.0    male  Third   7.2500         0
2  26.0  female  Third   7.9250         1
4  35.0    male  Third   8.0500         0
5   NaN    male  Third   8.4583         0
7   2.0    male  Third  21.0750         0

In [20]:
print(grouped['age']) #groupby의 특정 열만 추출하고자할 때
print(grouped.age)

<pandas.core.groupby.generic.SeriesGroupBy object at 0x0000022EA5910A30>
<pandas.core.groupby.generic.SeriesGroupBy object at 0x0000022EA5910640>

In [11]:
print(type(grouped.groups))
print(grouped.groups['First'])
print('\n')
print(type(grouped.indices))
print(grouped.indices['First'])

<class 'dict'>
Int64Index([  1,   3,   6,  11,  23,  27,  30,  31,  34,  35,
            ...
            853, 856, 857, 862, 867, 871, 872, 879, 887, 889],
           dtype='int64', length=216)


<class 'dict'>
[  1   3   6  11  23  27  30  31  34  35  52  54  55  61  62  64  83  88
  92  96  97 102 110 118 124 136 137 139 151 155 166 168 170 174 177 185
 187 194 195 209 215 218 224 230 245 248 252 256 257 258 262 263 268 269
 270 273 275 284 290 291 295 297 298 299 305 306 307 309 310 311 318 319
 325 329 331 332 334 336 337 339 341 351 356 366 369 370 373 375 377 380
 383 390 393 412 430 434 435 438 445 447 449 452 453 456 457 460 462 467
 475 484 486 487 492 493 496 498 504 505 507 512 513 515 520 523 527 536
 537 539 540 544 545 550 555 556 557 558 571 572 577 581 583 585 587 591
 599 602 604 607 609 621 625 627 630 632 633 641 645 647 659 660 662 669
 671 679 681 689 690 694 698 700 701 707 708 710 711 712 716 724 730 737
 740 741 742 745 748 759 763 765 766 779 781 782 789 793 796 802 806 809
 815 820 822 829 835 839 842 849 853 856 857 862 867 871 872 879 887 889]

In [12]:
# class 열, sex 열을 기준으로 분할
grouped_two = df.groupby(['class', 'sex']) 

# grouped_two 그룹 객체를 iteration으로 출력
for key, group in grouped_two:
    print('* key :', key)
    print('* number :', len(group))    
    print(group.head())
    print('\n')

* key : ('First', 'female')
* number : 94
     age     sex  class      fare  survived
1   38.0  female  First   71.2833         1
3   35.0  female  First   53.1000         1
11  58.0  female  First   26.5500         1
31   NaN  female  First  146.5208         1
52  49.0  female  First   76.7292         1


* key : ('First', 'male')
* number : 122
     age   sex  class      fare  survived
6   54.0  male  First   51.8625         0
23  28.0  male  First   35.5000         1
27  19.0  male  First  263.0000         0
30  40.0  male  First   27.7208         0
34  28.0  male  First   82.1708         0


* key : ('Second', 'female')
* number : 76
     age     sex   class     fare  survived
9   14.0  female  Second  30.0708         1
15  55.0  female  Second  16.0000         1
41  27.0  female  Second  21.0000         0
43   3.0  female  Second  41.5792         1
53  29.0  female  Second  26.0000         1


* key : ('Second', 'male')
* number : 108
     age   sex   class  fare  survived
17   NaN  male  Second  13.0         1
20  35.0  male  Second  26.0         0
21  34.0  male  Second  13.0         1
33  66.0  male  Second  10.5         0
70  32.0  male  Second  10.5         0


* key : ('Third', 'female')
* number : 144
     age     sex  class     fare  survived
2   26.0  female  Third   7.9250         1
8   27.0  female  Third  11.1333         1
10   4.0  female  Third  16.7000         1
14  14.0  female  Third   7.8542         0
18  31.0  female  Third  18.0000         0


* key : ('Third', 'male')
* number : 347
     age   sex  class     fare  survived
0   22.0  male  Third   7.2500         0
4   35.0  male  Third   8.0500         0
5    NaN  male  Third   8.4583         0
7    2.0  male  Third  21.0750         0
12  20.0  male  Third   8.0500         0

In [14]:
# grouped_two 그룹 객체에 연산 메소드 적용
average_two = grouped_two.mean()
print(type(average_two))
print(average_two)
print('\n')
print(average_two.index)

<class 'pandas.core.frame.DataFrame'>
                     age        fare  survived
class  sex
First  female  34.611765  106.125798  0.968085
       male    41.281386   67.226127  0.368852
Second female  28.722973   21.970121  0.921053
       male    30.740707   19.741782  0.157407
Third  female  21.750000   16.118810  0.500000
       male    26.507589   12.661633  0.135447


MultiIndex([( 'First', 'female'),
            ( 'First',   'male'),
            ('Second', 'female'),
            ('Second',   'male'),
            ( 'Third', 'female'),
            ( 'Third',   'male')],
           names=['class', 'sex'])

In [15]:
# grouped_two 그룹 객체에서 개별 그룹 선택하기
group3f = grouped_two.get_group(('Third','female'))
print(group3f.head())

     age     sex  class     fare  survived
2   26.0  female  Third   7.9250         1
8   27.0  female  Third  11.1333         1
10   4.0  female  Third  16.7000         1
14  14.0  female  Third   7.8542         0
18  31.0  female  Third  18.0000         0

* 그룹 연산 메소드 (mean, max, min, sum, count, size, var, std, describe, info, first, last 등)

In [17]:
for key, group in grouped:
    print('* key :', key)
    print('* number :', len(group))    
    print(type(group))
    print(group.head())
    print('\n')

* key : First
* number : 216
<class 'pandas.core.frame.DataFrame'>
     age     sex  class     fare  survived
1   38.0  female  First  71.2833         1
3   35.0  female  First  53.1000         1
6   54.0    male  First  51.8625         0
11  58.0  female  First  26.5500         1
23  28.0    male  First  35.5000         1


* key : Second
* number : 184
<class 'pandas.core.frame.DataFrame'>
     age     sex   class     fare  survived
9   14.0  female  Second  30.0708         1
15  55.0  female  Second  16.0000         1
17   NaN    male  Second  13.0000         1
20  35.0    male  Second  26.0000         0
21  34.0    male  Second  13.0000         1


* key : Third
* number : 491
<class 'pandas.core.frame.DataFrame'>
    age     sex  class     fare  survived
0  22.0    male  Third   7.2500         0
2  26.0  female  Third   7.9250         1
4  35.0    male  Third   8.0500         0
5   NaN    male  Third   8.4583         0
7   2.0    male  Third  21.0750         0

In [18]:
# 각 그룹에 대한 모든 열의 표준편차를 집계하여 데이터프레임으로 반환
std_all = grouped.std()  
print(std_all)
print('\n')
print(type(std_all))
print('\n')

              age       fare  survived
class
First   14.802856  78.380373  0.484026
Second  14.001077  13.417399  0.500623
Third   12.495398  11.778142  0.428949


<class 'pandas.core.frame.DataFrame'>

In [21]:
# 각 그룹에 대한 fare 열의 표준편차를 집계하여 시리즈로 반환 
std_fare = grouped.fare.std()  
print(std_fare)
print('\n')
print(type(std_fare))
print('\n')

class
First     78.380373
Second    13.417399
Third     11.778142
Name: fare, dtype: float64


<class 'pandas.core.series.Series'>

aggregate : DataFrameGroupBy 또는 SeriesGroupBy 객체에 적용 가능한 메소드
* https://pandas.pydata.org/docs/reference/api/pandas.core.groupby.SeriesGroupBy.aggregate.html
* https://pandas.pydata.org/docs/reference/api/pandas.core.groupby.DataFrameGroupBy.aggregate.html

* DataFrame에 적용 가능한 function, list of function 등을 argument로 받아서 적용 후 DataFrame을 리턴

In [25]:
# 그룹 객체에 agg() 메소드 적용 - 사용자 정의 함수를 인수로 전달
def min_max(x):    # 최대값 - 최소값
    return x.max() - x.min()

# Example)
df = pd.DataFrame([[1,2,3],[4,5,6]])
print(df)
print('\n')
print(df.max())
print(df.min())
print(min_max(df))

   0  1  2
0  1  2  3
1  4  5  6


0    4
1    5
2    6
dtype: int64
0    1
1    2
2    3
dtype: int64
0    3
1    3
2    3
dtype: int64

In [27]:
# 각 그룹의 최대값과 최소값의 차이를 계산하여 그룹별로 집계
agg_minmax = grouped.agg(min_max)  
print(agg_minmax.head())
print('\n')

          age      fare  survived
class
First   79.08  512.3292         1
Second  69.33   73.5000         1
Third   73.58   69.5500         1

In [36]:
print(grouped.get_group('First')[['age','fare','survived']])
min_max(grouped.get_group('First')[['age','fare','survived']])

      age     fare  survived
1    38.0  71.2833         1
3    35.0  53.1000         1
6    54.0  51.8625         0
11   58.0  26.5500         1
23   28.0  35.5000         1
..    ...      ...       ...
871  47.0  52.5542         1
872  33.0   5.0000         0
879  56.0  83.1583         1
887  19.0  30.0000         1
889  26.0  30.0000         1

[216 rows x 3 columns]

age          79.0800
fare        512.3292
survived      1.0000
dtype: float64

In [37]:
# 여러 함수를 각 열에 동일하게 적용하여 집계
agg_all = grouped.agg(['min', 'max'])  
print(agg_all.head())
print('\n')

         age           sex       fare           survived
         min   max     min   max  min       max      min max
class
First   0.92  80.0  female  male  0.0  512.3292        0   1
Second  0.67  70.0  female  male  0.0   73.5000        0   1
Third   0.42  74.0  female  male  0.0   69.5500        0   1

In [39]:
# 각 열마다 다른 함수를 적용하여 집계
agg_sep = grouped.agg({'fare':['min', 'max'], 'age':'mean'})  
print(agg_sep.head())
print(agg_sep.index)
print(agg_sep.columns)

       fare                  age
        min       max       mean
class
First   0.0  512.3292  38.233441
Second  0.0   73.5000  29.877630
Third   0.0   69.5500  25.140620
CategoricalIndex(['First', 'Second', 'Third'], categories=['First', 'Second', 'Third'], ordered=False, name='class', dtype='category')
MultiIndex([('fare',  'min'),
            ('fare',  'max'),
            ( 'age', 'mean')],
           )

In [41]:
# 라이브러리 불러오기
import pandas as pd
import seaborn as sns

# titanic 데이터셋에서 age, sex 등 5개 열을 선택하여 데이터프레임 만들기
titanic = sns.load_dataset('titanic')
df = titanic.loc[:, ['age','sex', 'class', 'fare', 'survived']]

# class 열을 기준으로 분할
grouped = df.groupby(['class']) 

# 그룹별 age 열의 평균 집계 연산
age_mean = grouped.age.mean()
print(age_mean)
print('\n')

# 그룹별 age 열의 표준편차 집계 연산
age_std = grouped.age.std()
print(age_std)
print('\n')

class
First     38.233441
Second    29.877630
Third     25.140620
Name: age, dtype: float64


class
First     14.802856
Second    14.001077
Third     12.495398
Name: age, dtype: float64

In [45]:
# 그룹 객체의 age 열을 iteration으로 z-score를 계산하여 출력
for key, group in grouped.age:
    print('* origin :', key)
    print(group)
    print('\n')
    group_zscore = (group - age_mean.loc[key]) / age_std.loc[key]         
    print(group_zscore)
    print('\n')

* origin : First
1      38.0
3      35.0
6      54.0
11     58.0
23     28.0
       ...
871    47.0
872    33.0
879    56.0
887    19.0
889    26.0
Name: age, Length: 216, dtype: float64


1     -0.015770
3     -0.218434
6      1.065103
11     1.335321
23    -0.691315
         ...
871    0.592221
872   -0.353543
879    1.200212
887   -1.299306
889   -0.826424
Name: age, Length: 216, dtype: float64


* origin : Second
9      14.0
15     55.0
17      NaN
20     35.0
21     34.0
       ...
866    27.0
874    28.0
880    25.0
883    28.0
886    27.0
Name: age, Length: 184, dtype: float64


9     -1.134029
15     1.794317
17          NaN
20     0.365855
21     0.294432
         ...
866   -0.205529
874   -0.134106
880   -0.348375
883   -0.134106
886   -0.205529
Name: age, Length: 184, dtype: float64


* origin : Third
0      22.0
2      26.0
4      35.0
5       NaN
7       2.0
       ...
882    22.0
884    25.0
885    39.0
888     NaN
890    32.0
Name: age, Length: 491, dtype: float64


0     -0.251342
2      0.068776
4      0.789041
5           NaN
7     -1.851931
         ...
882   -0.251342
884   -0.011254
885    1.109159
888         NaN
890    0.548953
Name: age, Length: 491, dtype: float64

transform : DataFrameGroupBy 또는 SeriesGroupBy 객체에 적용 가능한 메소드
* https://pandas.pydata.org/docs/reference/api/pandas.core.groupby.SeriesGroupBy.transform.html
* https://pandas.pydata.org/docs/reference/api/pandas.core.groupby.DataFrameGroupBy.transform.html
* Series -> SeriesGroupBy -> transform으로 그룹별 연산 -> (그룹화 되기 전의) Series와 동일한 index를 가진 Series 반환
* DataFrame -> DataFrameGroupBy -> transform으로 그룹별 연산 -> (그룹화 되기 전의) DataFrame과 동일한 index를 가진 DataFrame 반환

In [48]:
# z-score를 계산하는 사용자 함수 정의
def z_score(x): 
    return (x - x.mean()) / x.std()
   
# transform() 메소드를 이용하여 age 열의 데이터를 z-score로 변환
age_zscore = grouped.age.transform(z_score)  
print(type(age_zscore))             # transform 메소드 반환 객체의 자료형
print(age_zscore)

<class 'pandas.core.series.Series'>
0     -0.251342
1     -0.015770
2      0.068776
3     -0.218434
4      0.789041
         ...
886   -0.205529
887   -1.299306
888         NaN
889   -0.826424
890    0.548953
Name: age, Length: 891, dtype: float64

In [51]:
# class 열을 기준으로 분할
grouped = df.groupby(['class']) 

# 데이터 개수가 200개 이상인 그룹만을 필터링하여 데이터프레임으로 반환 (여기서는 First와 Third)
grouped_filter = grouped.filter(lambda x: len(x) >= 200)  
print(grouped_filter)   
print('\n')
print(type(grouped_filter))

# age 열의 평균이 30보다 작은 그룹만을 필터링하여 데이터프레임으로 반환 (여기서는 Second와 Third)
age_filter = grouped.filter(lambda x: x.age.mean() < 30)  
print(age_filter)   
print('\n')
print(type(age_filter))

      age     sex  class     fare  survived
0    22.0    male  Third   7.2500         0
1    38.0  female  First  71.2833         1
2    26.0  female  Third   7.9250         1
3    35.0  female  First  53.1000         1
4    35.0    male  Third   8.0500         0
..    ...     ...    ...      ...       ...
885  39.0  female  Third  29.1250         0
887  19.0  female  First  30.0000         1
888   NaN  female  Third  23.4500         0
889  26.0    male  First  30.0000         1
890  32.0    male  Third   7.7500         0

[707 rows x 5 columns]


<class 'pandas.core.frame.DataFrame'>
      age     sex   class     fare  survived
0    22.0    male   Third   7.2500         0
2    26.0  female   Third   7.9250         1
4    35.0    male   Third   8.0500         0
5     NaN    male   Third   8.4583         0
7     2.0    male   Third  21.0750         0
..    ...     ...     ...      ...       ...
884  25.0    male   Third   7.0500         0
885  39.0  female   Third  29.1250         0
886  27.0    male  Second  13.0000         0
888   NaN  female   Third  23.4500         0
890  32.0    male   Third   7.7500         0

[675 rows x 5 columns]


<class 'pandas.core.frame.DataFrame'>

참고 : describe는 DataFrame, Series, DataFrameGroupBy 모두 적용 가능
* https://pandas.pydata.org/docs/reference/api/pandas.Series.describe.html
* https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.describe.html
* https://pandas.pydata.org/docs/reference/api/pandas.core.groupby.DataFrameGroupBy.describe.html

In [59]:
# class 열을 기준으로 분할
grouped = df.groupby(['class']) 

print(grouped.get_group('First').describe())
print('\n')
print(grouped.get_group('First').age.describe())
print('\n')

              age        fare    survived
count  186.000000  216.000000  216.000000
mean    38.233441   84.154687    0.629630
std     14.802856   78.380373    0.484026
min      0.920000    0.000000    0.000000
25%     27.000000   30.923950    0.000000
50%     37.000000   60.287500    1.000000
75%     49.000000   93.500000    1.000000
max     80.000000  512.329200    1.000000


count    186.000000
mean      38.233441
std       14.802856
min        0.920000
25%       27.000000
50%       37.000000
75%       49.000000
max       80.000000
Name: age, dtype: float64

In [65]:
# 집계 : 각 그룹별 요약 통계정보를 집계
# apply 에는 dataframe이 first argument로 들어가고 DataFrame/Series/scalar가 리턴되는 함수가 사용되어야 함
agg_grouped = grouped.apply(lambda x: x.describe())
print(agg_grouped)
print('\n')

                     age        fare    survived
class
First  count  186.000000  216.000000  216.000000
       mean    38.233441   84.154687    0.629630
       std     14.802856   78.380373    0.484026
       min      0.920000    0.000000    0.000000
       25%     27.000000   30.923950    0.000000
       50%     37.000000   60.287500    1.000000
       75%     49.000000   93.500000    1.000000
       max     80.000000  512.329200    1.000000
Second count  173.000000  184.000000  184.000000
       mean    29.877630   20.662183    0.472826
       std     14.001077   13.417399    0.500623
       min      0.670000    0.000000    0.000000
       25%     23.000000   13.000000    0.000000
       50%     29.000000   14.250000    0.000000
       75%     36.000000   26.000000    1.000000
       max     70.000000   73.500000    1.000000
Third  count  355.000000  491.000000  491.000000
       mean    25.140620   13.675550    0.242363
       std     12.495398   11.778142    0.428949
       min      0.420000    0.000000    0.000000
       25%     18.000000    7.750000    0.000000
       50%     24.000000    8.050000    0.000000
       75%     32.000000   15.500000    0.000000
       max     74.000000   69.550000    1.000000

In [55]:
print(grouped.describe())

          age                                                       fare  \
        count       mean        std   min   25%   50%   75%   max  count
class
First   186.0  38.233441  14.802856  0.92  27.0  37.0  49.0  80.0  216.0
Second  173.0  29.877630  14.001077  0.67  23.0  29.0  36.0  70.0  184.0
Third   355.0  25.140620  12.495398  0.42  18.0  24.0  32.0  74.0  491.0

                   ...                 survived                                \
             mean  ...   75%       max    count      mean       std  min  25%
class              ...
First   84.154687  ...  93.5  512.3292    216.0  0.629630  0.484026  0.0  0.0
Second  20.662183  ...  26.0   73.5000    184.0  0.472826  0.500623  0.0  0.0
Third   13.675550  ...  15.5   69.5500    491.0  0.242363  0.428949  0.0  0.0


        50%  75%  max
class
First   1.0  1.0  1.0
Second  0.0  1.0  1.0
Third   0.0  0.0  1.0

[3 rows x 24 columns]

* 멀티인덱스

In [67]:
# 라이브러리 불러오기
import pandas as pd
import seaborn as sns

# titanic 데이터셋에서 age, sex 등 5개 열을 선택하여 데이터프레임 만들기
titanic = sns.load_dataset('titanic')
df = titanic.loc[:, ['age','sex', 'class', 'fare', 'survived']]

# class 열, sex 열을 기준으로 분할
grouped = df.groupby(['class', 'sex'])  

# 그룹 객체에 연산 메서드 적용
gdf = grouped.mean()
print(gdf)
print('\n')
print(type(gdf))

                     age        fare  survived
class  sex
First  female  34.611765  106.125798  0.968085
       male    41.281386   67.226127  0.368852
Second female  28.722973   21.970121  0.921053
       male    30.740707   19.741782  0.157407
Third  female  21.750000   16.118810  0.500000
       male    26.507589   12.661633  0.135447


<class 'pandas.core.frame.DataFrame'>

xs : 멀티인덱스가 있는 시리즈/데이터프레임에서 일부분(cross-section)을 선택하고자 할 때 사용
* https://pandas.pydata.org/docs/reference/api/pandas.Series.xs.html
* https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.xs.html

In [70]:
# class 값이 First인 행을 선택하여 출력
print(gdf.loc['First'])
print('\n')

# class 값이 First이고, sex 값이 female인 행을 선택하여 출력
print(gdf.loc[('First', 'female')])
print('\n')

              age        fare  survived
sex
female  34.611765  106.125798  0.968085
male    41.281386   67.226127  0.368852


age          34.611765
fare        106.125798
survived      0.968085
Name: (First, female), dtype: float64

In [71]:
print(gdf.loc['female']) # error

KeyError: 'female'

In [72]:
# sex 값이 male인 행을 선택하여 출력
print(gdf.xs('male', level='sex'))

              age       fare  survived
class
First   41.281386  67.226127  0.368852
Second  30.740707  19.741782  0.157407
Third   26.507589  12.661633  0.135447

* 피벗

In [73]:
# 라이브러리 불러오기
import pandas as pd
import seaborn as sns

# IPyhton 디스플레이 설정 변경 
pd.set_option('display.max_columns', 10)    # 출력할 최대 열의 개수
pd.set_option('display.max_colwidth', 20)    # 출력할 열의 너비

# titanic 데이터셋에서 age, sex 등 5개 열을 선택하여 데이터프레임 만들기
titanic = sns.load_dataset('titanic')
df = titanic.loc[:, ['age','sex', 'class', 'fare', 'survived']]
print(df.head())
print('\n')

    age     sex  class     fare  survived
0  22.0    male  Third   7.2500         0
1  38.0  female  First  71.2833         1
2  26.0  female  Third   7.9250         1
3  35.0  female  First  53.1000         1
4  35.0    male  Third   8.0500         0

In [76]:
# pivot table - 기존 DataFrame로부터 행/열/값으로 쓸 column을 선택하여 요약 정리
# 행, 열, 값, 집계에 사용할 열을 1개씩 지정하고 값의 평균을 집계하는 예제
pdf1 = pd.pivot_table(df,              # 피벗할 데이터프레임
                     index='class',    # 행 위치에 들어갈 열
                     columns='sex',    # 열 위치에 들어갈 열
                     values='age',     # 데이터로 사용할 열
                     aggfunc='mean')   # 데이터 집계 함수

print(pdf1)
print('\n')

sex        female       male
class
First   34.611765  41.281386
Second  28.722973  30.740707
Third   21.750000  26.507589

In [77]:
# 값에 적용하는 집계 함수를 2개 이상 지정 가능 - 생존율, 생존자 수 집계
pdf2 = pd.pivot_table(df,                       # 피벗할 데이터프레임
                     index='class',             # 행 위치에 들어갈 열
                     columns='sex',             # 열 위치에 들어갈 열
                     values='survived',         # 데이터로 사용할 열
                     aggfunc=['mean', 'sum'])   # 데이터 집계 함수

print(pdf2.head())
print('\n')

            mean              sum
sex       female      male female male
class
First   0.968085  0.368852     91   45
Second  0.921053  0.157407     70   17
Third   0.500000  0.135447     72   47

In [82]:
# 행, 열, 값에 사용할 열을 2개 이상 지정 가능 - 평균 나이, 최대 요금 집계
pdf3 = pd.pivot_table(df,                       # 피벗할 데이터프레임
                     index=['class', 'sex'],    # 행 위치에 들어갈 열
                     columns='survived',        # 열 위치에 들어갈 열
                     values=['age', 'fare'],    # 데이터로 사용할 열
                     aggfunc=['mean', 'max'])   # 데이터 집계 함수

print(pdf3.head())
print('\n')

# 행, 열 구조 살펴보기
print(pdf3.index)
print(pdf3.columns)
print('\n')

                    mean                                      max        \
                     age                   fare               age
survived               0          1           0           1     0     1
class  sex
First  female  25.666667  34.939024  110.604167  105.978159  50.0  63.0
       male    44.581967  36.248000   62.894910   74.637320  71.0  80.0
Second female  36.000000  28.080882   18.250000   22.288989  57.0  55.0
       male    33.369048  16.022000   19.488965   21.095100  70.0  62.0
Third  female  23.818182  19.329787   19.773093   12.464526  48.0  63.0


                 fare
survived            0         1
class  sex
First  female  151.55  512.3292
       male    263.00  512.3292
Second female   26.00   65.0000
       male     73.50   39.0000
Third  female   69.55   31.3875


MultiIndex([( 'First', 'female'),
            ( 'First',   'male'),
            ('Second', 'female'),
            ('Second',   'male'),
            ( 'Third', 'female'),
            ( 'Third',   'male')],
           names=['class', 'sex'])
MultiIndex([('mean',  'age', 0),
            ('mean',  'age', 1),
            ('mean', 'fare', 0),
            ('mean', 'fare', 1),
            ( 'max',  'age', 0),
            ( 'max',  'age', 1),
            ( 'max', 'fare', 0),
            ( 'max', 'fare', 1)],
           names=[None, None, 'survived'])

In [83]:
# xs 인덱서 사용 - 행 선택(default: axis=0)
print(pdf3.xs('First'))              # 행 인덱스가 First인 행을 선택 
print('\n')
print(pdf3.xs(('First', 'female')))   # 행 인덱스가 ('First', 'female')인 행을 선택
print('\n')
print(pdf3.xs('male', level='sex'))  # 행 인덱스의 sex 레벨이 male인 행을 선택
print('\n')
print(pdf3.xs(('Second', 'male'), level=[0, 'sex']))  # Second, male인 행을 선택
print('\n')

# xs 인덱서 사용 - 열 선택(axis=1 설정)
print(pdf3.xs('mean', axis=1))        # 열 인덱스가 mean인 데이터를 선택 
print('\n')
print(pdf3.xs(('mean', 'age'), axis=1))   # 열 인덱스가 ('mean', 'age')인 데이터 선택
print('\n')
print(pdf3.xs(1, level='survived', axis=1))  # survived 레벨이 1인 데이터 선택
print('\n')
print(pdf3.xs(('max', 'fare', 0), 
              level=[0, 1, 2], axis=1))  # max, fare, survived=0인 데이터 선택

               mean                                      max                \
                age                   fare               age          fare
survived          0          1           0           1     0     1       0
sex
female    25.666667  34.939024  110.604167  105.978159  50.0  63.0  151.55
male      44.581967  36.248000   62.894910   74.637320  71.0  80.0  263.00



survived         1
sex
female    512.3292
male      512.3292


            survived
mean  age   0            25.666667
            1            34.939024
      fare  0           110.604167
            1           105.978159
max   age   0            50.000000
            1            63.000000
      fare  0           151.550000
            1           512.329200
Name: (First, female), dtype: float64


               mean                                    max                \
                age                  fare              age          fare
survived          0          1          0          1     0     1       0
class
First     44.581967  36.248000  62.894910  74.637320  71.0  80.0  263.00
Second    33.369048  16.022000  19.488965  21.095100  70.0  62.0   73.50
Third     27.255814  22.274211  12.204469  15.579696  74.0  45.0   69.55



survived         1
class
First     512.3292
Second     39.0000
Third      56.4958


                  mean                               max
                   age               fare            age        fare
survived             0       1          0        1     0     1     0     1
class  sex
Second male  33.369048  16.022  19.488965  21.0951  70.0  62.0  73.5  39.0


                     age                   fare
survived               0          1           0           1
class  sex
First  female  25.666667  34.939024  110.604167  105.978159
       male    44.581967  36.248000   62.894910   74.637320
Second female  36.000000  28.080882   18.250000   22.288989
       male    33.369048  16.022000   19.488965   21.095100
Third  female  23.818182  19.329787   19.773093   12.464526
       male    27.255814  22.274211   12.204469   15.579696


survived               0          1
class  sex
First  female  25.666667  34.939024
       male    44.581967  36.248000
Second female  36.000000  28.080882
       male    33.369048  16.022000
Third  female  23.818182  19.329787
       male    27.255814  22.274211


                    mean               max
                     age        fare   age      fare
class  sex
First  female  34.939024  105.978159  63.0  512.3292
       male    36.248000   74.637320  80.0  512.3292
Second female  28.080882   22.288989  55.0   65.0000
       male    16.022000   21.095100  62.0   39.0000
Third  female  19.329787   12.464526  63.0   31.3875
       male    22.274211   15.579696  45.0   56.4958


                  max
                 fare
survived            0
class  sex
First  female  151.55
       male    263.00
Second female   26.00
       male     73.50
Third  female   69.55
       male     69.55