In [5]:
import seaborn as sns

titanic = sns.load_dataset('titanic')

mask1 = (titanic.age >= 10) & (titanic.age < 20)
df_teenage = titanic.loc[mask1, :]
print(df_teenage.head())

mask2 = (titanic.age < 10) & (titanic.sex == 'female')
df_female_under10 = titanic.loc[mask2, :]
print(df_female_under10.head())

mask3 = (titanic.age < 10) | (titanic.age >= 60)
df_under10_morethan60 = titanic.loc[mask3, ['age', 'sex', 'alone']]
print(df_under10_morethan60.head())

    survived  pclass     sex   age  sibsp  parch      fare embarked   class  \
9          1       2  female  14.0      1      0   30.0708        C  Second
14         0       3  female  14.0      0      0    7.8542        S   Third
22         1       3  female  15.0      0      0    8.0292        Q   Third
27         0       1    male  19.0      3      2  263.0000        S   First
38         0       3  female  18.0      2      0   18.0000        S   Third

      who  adult_male deck  embark_town alive  alone
9   child       False  NaN    Cherbourg   yes  False
14  child       False  NaN  Southampton    no   True
22  child       False  NaN   Queenstown   yes   True
27    man        True    C  Southampton    no  False
38  woman       False  NaN  Southampton    no  False
     survived  pclass     sex  age  sibsp  parch     fare embarked   class  \
10          1       3  female  4.0      1      1  16.7000        S   Third
24          0       3  female  8.0      3      1  21.0750        S   Third
43          1       2  female  3.0      1      2  41.5792        C  Second
58          1       2  female  5.0      1      2  27.7500        S  Second
119         0       3  female  2.0      4      2  31.2750        S   Third

       who  adult_male deck  embark_town alive  alone
10   child       False    G  Southampton   yes  False
24   child       False  NaN  Southampton    no  False
43   child       False  NaN    Cherbourg   yes  False
58   child       False  NaN  Southampton   yes  False
119  child       False  NaN  Southampton    no  False
     age     sex  alone
7    2.0    male  False
10   4.0  female  False
16   2.0    male  False
24   8.0  female  False
33  66.0    male   True