## Unit 3

In [1]:
print("Hello world")

Hello world

In [14]:
print('Hello world') # 자동으로 줄바꿈까지 되어 출력
print('hello "world"')
print("hello 'world'")
print("hello \"world\"")
print('hello \'world\'')

Hello world
hello "world"
hello 'world'
hello "world"
hello 'world'

## Unit 4

1. Semicolon

In [3]:
print('Hello'); print('1234')

Hello
1234

2. Indentation

In [4]:
a = 10
if a == 10:
    print('10')
    print('Hello')
    print('입니다.')

10
입니다.

3. Comments
  - Single line comments with #

In [15]:
# print('hi')
a = 1 + 2 # 더하기
print('Hello, world!') #printf('1234567890')

Hello, world!

  - triple quotes used as a comment

In [8]:
"""
print('Hello world') # 자동으로 줄바꿈까지 되어 출력
print('hello "world"')
print("hello 'world'")
print("hello \"world\"")
print('hello \'world\'')
"""
print("Comments are removed")

Comments are removed

In [10]:
for i in range(3):
#    print("Test")
    print("Current number is")
    print(i)

Current number is
0
Current number is
1
Current number is
2

In [17]:
for i in range(3):
    """
    print("Test")
    """
    print("Current number is")
    print(i)

Current number is
0
Current number is
1
Current number is
2

## Unit 5. 숫자 계산

* 기본 연산

In [19]:
print(1 + 1)
print(1 - 2)
print(1 * 3)

2
-1
3

In [3]:
print(10000014 % 100)
print(2 ** 3)

14
8

In [4]:
print(5//2)
print(5/2)

2
2.5

* 타입 확인 및 변환

In [21]:
type(35.9)

float

In [5]:
print(int(9/2))
print(int('13'))
print(int('29.8'))

4
13

ValueError: invalid literal for int() with base 10: '29.8'

In [20]:
print(float(9//2))
print(float('13'))
print(float('29.8'))

4.0
13.0
29.8

* N진수의 표현

In [10]:
print(0b110)
print(0o10)
print(0x8F)

6
8
143

* 연산자 우선순위

In [22]:
((35 + ((4 * 2) / 3)) - 8)

29.666666666666664

In [20]:
8 / 5 * 7

11.200000000000001

## Unit 6. 변수와 입력

In [26]:
x, y, z = 10, 20, 30
print(x, y, z)

10 20 30

In [27]:
a = b = c = 30
print(a, b, c)

30 30 30

In [28]:
m, n = 30, 40
m, n = n, m
print(m, n)

40 30

In [29]:
print(x) # Python 3
del x
print(x)

10

NameError: name 'x' is not defined

## Unit 7. 출력

In [30]:
print(1, 2, 3, sep=', ')    # sep에 콤마와 공백을 지정
print(4, 5, 6, sep=',')    # sep에 콤마만 지정
print('Hello', 'Python', sep='')    # sep에 빈 문자열을 지정
print(1920, 1080, sep='x')    # sep에 x를 지정

1, 2, 3
4,5,6
HelloPython
1920x1080

In [32]:
print('I', '...', 'am your father.', sep='\n')

I
...
am your father.

In [25]:
print('ABC\tDEF\nZZZ')
print('\t\n')
print('\\t\\n')
print(r'\n\t')

ABC	DEF
ZZZ


\t\n
\n\t

## Unit 8. 비교, 논리 연산자

In [2]:
type(True)

bool

In [35]:
30 > 10

True

* 값 비교: ==/!=, 객체 비교: is/is not

In [26]:
a = 1
b = 1.0
print(a == b)
print(a is not b)
print(id(a), id(b))

True
True
140737324922656 1260072365424

* 변수 선언 시마다 다른 주소 할당
* 값 확인에는 반드시 ==/!=를 사용할 것

In [39]:
a = 233
print(id(a))
a = 300
print(id(a))
a = 300
print(id(a))
b = 300
print(id(b))
print(a == b)
print(a is b)

140737324930080
1653576343728
1653576344784
1653576344496
True
False

* 한 번에 선언 시 같은 주소 할당

In [40]:
a = b = 300
print(a is b)
print(id(a), id(b))
a = 250
print(a is b)
print(id(a), id(b))

True
1653576344720 1653576344720
False
140737324930624 1653576344720

* -5에서 256 사이의 정수의 경우 미리 만들어 둔 주소를 사용하므로 값이 같은 변수들은 동일한 주소를 가짐

In [41]:
a = b = 100
c = 100
print(a == b)
print(a == c)
print(a is b)
print(a is c)
print(id(a), id(b), id(c))

True
True
True
True
140737324925824 140737324925824 140737324925824

* 논리 연산자 (우선순위 : not > and > or)

In [29]:
not True and False or not False
# (not True) and False or (not False)
# ((not True) and False) or (not False)
# (((not True) and False) or (not False))
# (False and False) or True
# False or True

True

In [48]:
a = 1000
b = 1000
c = 500
a == b and a != c
# (1000 == 1000) and (1000 != 500)
# True and True

True

In [50]:
not a is b
# not (a is b)
# not (False)

True

* 빈 문자열 '', 실수/정수 0.0, 0는 제외하고 전부 True

In [56]:
print(bool(''))
print(bool('False'))
print(bool('Python'))
print(bool(0.0))
print(bool(3))

False
True
True
False
True

* 단락 평가 - 논리 연산자는 항상 True/False만을 반환하는 것은 아님
* or는 첫번째 값이 True이면 첫번째 값을 반환 / 첫번째 값이 False이면 두번째 값을 반환
* and는 첫번째 값이 True이면 두번째 값을 반환 / 첫번재 값이 False이면 첫번째 값을 반환

In [52]:
print('No' or False)
print(False or 'Hello')
print(True and 'Hello')
print('Hello' and True)
print(0 and True)

No
Hello
Hello
True
0

##  Unit 9. 문자열

In [69]:
a = """ 'Python' and "Python" """
print(a)

 'Python' and "Python"

## Unit 10. 리스트와 튜플

* range(시작, 끝, 간격)
* 시작은 포함, 끝은 포함하지 않음
* 간격을 음수로 지정시에는 값이 감소

In [3]:
print(range(10))
type(range(10))

range(0, 10)

range

In [9]:
print(list(range(10)))
print(list(range(3, 10)))
print(list(range(2, 15, 3)))
print(list(range(9, 0, -1)))
print(list(range(0, 3, -1)))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[3, 4, 5, 6, 7, 8, 9]
[2, 5, 8, 11, 14]
[9, 8, 7, 6, 5, 4, 3, 2, 1]
[]

* List

In [7]:
a = list()
b = []
c = [2,3,4]
d = list(range(4))
e = list([1,2,3])
print(a, b, c, d, e, sep='\n')

[]
[]
[2, 3, 4]
[0, 1, 2, 3]
[1, 2, 3]

* Tuple

In [10]:
a = tuple()
b = ()
c = 2,3,4
d = tuple(range(4))
e = tuple([1,2,3])
print(a, b, c, d, e, sep='\n')

()
()
(2, 3, 4)
(0, 1, 2, 3)
(1, 2, 3)

In [73]:
a = 1, 2, 3
print(a[0])
a[0] = 3

1

TypeError: 'tuple' object does not support item assignment

In [13]:
print(list((1,2,3)))
print(tuple([3,4]))

[1, 2, 3]
(3, 4)